<!-- ####By location map#### -->



<div id="map-container">
  <div id="map-canvas"></div>
</div>


<div id="map">

</div>

<div id="homeless_marker">
		
</div>
	<button id="location_save">Save</button>